<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
</head>
<body>
    <div class="container">
        <div class="registration">
            <h1>Registration</h1>
            <form action="/register" method="POST">
                {% csrf_token %}
                <label for="first_name">First Name</label>
                <input type="text" name="first_name">
                <br>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name">
                <br>
                <label for="email">Email</label>
                <input type="email" name="email">
                <br>
                <label for="birthday">Birthday</label>
                <input type="date" name="birthday">
                <br>
                <label for="password">Password</label>
                <input type="password" name="password">
                <br>
                <label for="confirm_password">Confirm PW</label>
                <input type="password" name="confirm_password">
                <br>
                <button type="submit">Register</button>
            </form>
        </div>
        <div class="login">
            <h1>Login</h1>
            <form action="/login" method="POST">
                {% csrf_token %}
                <label for="email">Email</label>
                <input type="email" name="email">
                <br>
                <label for="password">Password</label>
                <input type="password" name="password">
                <br>
                <button type="submit">Log In</button>
            </form>
            <div class="errors">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>