<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/success_style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Success! Welcome {{thisUser.first_name}}!</h1>
        <p>Successfully registered (or logged in)!</p>
    </div>
    <a href="/logOut">Log Out</a>
</body>
</html>